<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Show List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="templates/favicon(1).ico">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="client.js"></script>
</head>

<body class="container-fluid" ng-app="cliApp" ng-controller="cliCtrl">
    <nav class="row">
        <h1>Products Show List</h1>
    </nav>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading row">
                <div class="col-md-8 text-left">
                    List of products
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-2"> Filter:</div>
                        <div class="input-group col-md-10">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input id="msg" type="text" class="form-control" name="msg" ng-model="search" placeholder="Filter product list...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body row">
                <table class="w3-table w3-striped">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Packing</th>
                        <th>Description</th>
                        <th>Status</th>

                    </tr>
                    <tr ng-repeat="x in prdList |filter: search">
                        <td>{{x.id}}</td>
                        <td>{{x.Name}}</td>
                        <td>{{x.Price}}</td>
                        <td>{{x.stock}}</td>
                        <td>{{x.Packing}}</td>
                        <td>{{x.Description}}</td>
                        <td><button ng-class="statusCls(x)">{{statusAct(x)}}</button></td>

                    </tr>
                </table>

                <hr>
            </div>
        </div>
    </div>
</body>

</html>